<!DOCTYPE html>
<html lang="en"> 
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/styles.css">
        <meta charset="UTF-8"> 
        <title>Product Review - About Us</title> 
    </head> 
    <body> 
        
        <header class="container-fluid bg-warning pl-0">
            <h1 class="d-block w-75 bg-dark text-white m-0 py-1 pr-5 pl-1" style="font-size: 1.6em; border-radius: 0 10vw 0 0;">
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </h1>
        </header>

        <main>
            
            <section class="d-block text-right">
                <h2 class="d-inline-block bg-dark text-white py-1 pl-4 pr-1" style="border-radius: 0 0 0 10vw;">.about us</h2>
            </section>

            <section>
                <h3 class="d-inline-block bg-dark text-white py-1 pl-1 pr-3" style="border-radius: 0 10vw 0 0;">.services</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, dolores voluptatibus, veniam aut autem totam commodi nihil sequi, hic quidem quasi dolorem nulla adipisci voluptatem libero. Reprehenderit facilis veritatis minus?
                    Anim deserunt adipisicing sunt exercitation id. Aute mollit ea ex tempor dolor tempor eiusmod cillum voluptate do laboris eiusmod ea qui. Aliquip dolore id nostrud occaecat dolore irure eiusmod voluptate. Minim irure laboris laborum Lorem cillum amet nisi.
                    Ex quis ad Lorem duis eu proident reprehenderit aliqua commodo quis esse voluptate ullamco. Tempor incididunt et Lorem ipsum enim consectetur aute. Sunt nostrud consequat amet irure laboris sit mollit duis nostrud.
                </p>
                <p>
                    Enim reprehenderit velit amet reprehenderit eu ex minim nulla reprehenderit sint magna veniam est. Irure aliquip reprehenderit id culpa deserunt minim id deserunt mollit velit cillum adipisicing consequat id. Occaecat sit fugiat eu ad culpa officia exercitation nulla proident in. Excepteur eu excepteur nostrud minim cupidatat fugiat est. Ipsum eu nulla nostrud voluptate eu consectetur voluptate.
                    Sint deserunt ipsum commodo minim amet deserunt sunt officia in. Veniam est dolor Lorem dolor dolor Lorem cupidatat eiusmod. Sit dolore dolor in eiusmod aliquip nisi nisi tempor. Laboris mollit nulla labore labore velit voluptate do deserunt nulla adipisicing reprehenderit. Ex consequat ex fugiat fugiat mollit anim ad aliqua cupidatat.
                </p>
            </section>

            <section>
                <h3 class="d-inline-block bg-dark text-white py-1 pl-1 pr-3" style="border-radius: 0 10vw 0 0;">.philosophy</h3>
                <p>
                    Eu in officia magna sit fugiat quis occaecat fugiat officia reprehenderit aliqua Lorem ipsum ea. Lorem eu cillum eiusmod magna. Incididunt qui officia fugiat enim et sint labore ea nulla.
                </p>
                <p>
                    Ad mollit fugiat dolor est ad consequat enim sunt enim anim fugiat nulla. Exercitation amet magna deserunt anim nostrud sint Lorem veniam anim ipsum. Reprehenderit eu nostrud cupidatat nulla elit. Sint voluptate ex excepteur Lorem Lorem ullamco. Et officia amet aute cupidatat ipsum id exercitation est dolore aliqua Lorem. Enim ad tempor quis minim et occaecat. Nostrud nulla do et consectetur.
                <p>
                    Eu deserunt ex do officia fugiat. Pariatur commodo tempor est ad nostrud laborum id consequat duis. Aliquip do pariatur nisi proident proident minim ullamco anim id esse nulla culpa. Officia eiusmod nostrud qui magna ut pariatur duis et eiusmod. Id aliquip eu cupidatat officia mollit consequat ipsum sit non dolore commodo. Eu adipisicing ut laboris anim. Do magna ipsum officia eiusmod ex tempor tempor.
                </p>
            </section>

            <section>
                <h3 class="d-inline-block bg-dark text-white py-1 pl-1 pr-3" style="border-radius: 0 10vw 0 0;">.history</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p>    
                    Tenetur dicta a ab obcaecati inventore, unde vero? Quod inventore voluptatem, voluptate exercitationem minus sunt beatae molestiae qui doloremque voluptates illo sit.
                    Non excepteur et Lorem voluptate nisi in eiusmod ad do incididunt. In incididunt eiusmod eu occaecat elit. Cillum sint ullamco enim commodo amet non sint commodo. Aute incididunt exercitation est commodo excepteur sunt laboris ut dolor laborum. Sint fugiat laboris esse labore aliqua reprehenderit. Quis aliqua irure nulla eiusmod est nisi consectetur aute deserunt sunt fugiat do est. Veniam proident amet ex labore occaecat.
                </p>
                <p>    
                    Anim sunt magna ex excepteur anim est excepteur aute officia sunt tempor fugiat pariatur ut. Irure velit velit anim excepteur do proident elit mollit officia ea sint consectetur qui consequat. Fugiat et id aliqua ut adipisicing in quis magna. Aute ex non dolore dolor eiusmod pariatur officia. Adipisicing qui proident deserunt adipisicing non et officia esse laborum aute aliqua eiusmod. Incididunt cillum laborum qui reprehenderit sit dolore aliqua.
                </p>
            </section>
        </main>

        <footer class="bg-dark text-light">
            <div>
                <!-- TODO -->
            </div>
            <div class="">
                &copy; {% now 'Y' %} Copyright: <a href="{% url 'djangoapp:index' %}">Dealership Review</a>
            </div>
            <div class="mr-2">
                <a href="{% url 'djangoapp:contact' %}">contact</a>
            </div>
        </footer>

    </body> 
</html> 