<!DOCTYPE html>
<html lang="en"> 
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/styles.css">
        <meta charset="UTF-8"> 
        <title>Product Review - About Us</title> 
    </head> 
    <body> 
        
        <header class="container-fluid bg-warning pl-0">
            <h1 class="d-block w-75 bg-dark text-white m-0 py-1 pr-5 pl-1" style="font-size: 1.6em; border-radius: 0 10vw 0 0;">
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </h1>
        </header>

        <main>
            
            <section class="d-block text-right">
                <h2 class="d-inline-block bg-dark text-white py-1 pl-4 pr-1" style="border-radius: 0 0 0 10vw;">.about us</h2>
            </section>

            <section>
                <h3 class="d-inline-block bg-dark text-white py-1 pl-1 pr-3" style="border-radius: 0 10vw 0 0;">.services</h3>
                <p>
                   Voted top 10 Car dealer sites in east coast!!!
                </p>
                <p>
                   Fast and Friendly Service
                </p>
            </section>

            

            <section>
                <h3 class="d-inline-block bg-dark text-white py-1 pl-1 pr-3" style="border-radius: 0 10vw 0 0;">.history</h3>
                <p>
                    Low Prices
                </p>
                <p>    
                    Great Deals
                </p>
                <p>    
                    Have a great Day!!
                </p>
            </section>
        </main>

        <footer class="bg-dark text-light">
            <div>
                <!-- TODO -->
            </div>
            <div class="">
                &copy; {% now 'Y' %} Copyright: <a href="{% url 'djangoapp:index' %}">Dealership Review</a>
            </div>
            <div class="mr-2">
                <a href="{% url 'djangoapp:contact' %}">contact</a>
            </div>
        </footer>

    </body> 
</html> 
