<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css">

    <style>
        #add-review:hover {
            text-decoration: none;
        }
        #add-review:hover .card-header {
            text-decoration: underline;
        }
    </style>
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                </li>
            
            </ul>
            
        {% if user.is_authenticated %}
            <form class="form-inline" action="{% url 'djangoapp:logout' %}">
                <label class="text-white mr-2">{{ user.username }}</label>
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="logout">Logout</button>
            </form>
        {% else %}
            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                {% csrf_token %}
                <input name="username" class="form-control mr-sm-2{% if error %} is-invalid{% endif %}" type="text" placeholder="Username" aria-label="Username" value="{{ username }}" required>
                <input name="psw" class="form-control mr-sm-2{% if error %} is-invalid{% endif %}" type="password" placeholder="Password" aria-label="Password" value="{{ password }}" required>
                <button id="loginSubmit" class="btn btn-light my-2 my-sm-0 mr-sm-2" type="submit" value="login">Login</button>
            </form>
            <form class="form-inline" action="{% url 'djangoapp:register' %}">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="register">Sign Up</button>
            </form>
        {% endif %}
        
        </div>
        
    </nav>

        <header class="container-fluid bg-warning pl-0 text-right">
            <h1 class="h5">
                {{ dealer_name }}
            </h1>
        </header>

        <main class="p-2">

            <!-- Add reviews as cards -->
            <div class="card-columns">
                {% if user.is_authenticated %}
                    <a id="add-review" class="card" href="{% url 'djangoapp:add_review' dealer_id %}" title="Add review">
                        <img width="32px" height="32px" class="card-img-left position-absolute m-1" src="{{ MEDIA_URL }}icons/add-outline.svg">
                        <div class="card-header p-0">
                            <h5 class="card-title m-0 py-2 pr-2 pl-5 text-right">Write a review</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title">Share your opinion...</p>
                        </div>
                    </a>
                {% endif %}
                {% for review in reviews %}
                    <div class="card">
                        {% if review.sentiment != '' %}
                            <img width="32px" height="32px" class="card-img-left position-absolute m-1" src="{{ MEDIA_URL }}emoji/{{ review.sentiment }}.png" alt="{{ review.sentiment }} review">
                        
                        {% endif %}
                        <div class="card-header p-0">
                            <h5 class="card-title m-0 py-2 pr-2 pl-5 text-right">{{ review.car_make }}, {{ review.car_model }}</h5>
                        </div>
                        <div class="card-body">
                            <strong class="card-title">{{ review.purchase_date|slice:'-4:' }}</strong>
                            <p class="card-title">{{ review.review }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="card">
                        <img width="32px" height="32px" class="card-img-left position-absolute m-1" src="{{ MEDIA_URL }}icons/information-outline.svg">
                        <div class="card-header p-0">
                            <h5 class="card-title m-0 py-2 pr-2 pl-5 text-right">No reviews found.</h5>
                        </div>
                        <div class="card-body">
                            <p id="review-elem2" class="card-title">This dealer has no reviews yet.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>

        <footer class="bg-dark text-light">
            <div>
                <!-- TODO -->
            </div>
            <div class="">
                &copy; {% now 'Y' %} Copyright: <a href="{% url 'djangoapp:index' %}">Dealership Review</a>
            </div>
            <div class="mr-2">
                <a href="{% url 'djangoapp:contact' %}">contact</a>
            </div>
        </footer>

    </body>

</html>
